[2013-12-04 11:42] ocharles opened #2 "Export Data.OpenUnion"
`Data.OpenUnion` defines `unsafeReUnion`, which lets one change the union type. This is used in http://okmij.org/ftp/Haskell/extensible/Eff.hs in the `runFresh` action to temporarily introduce a state effect. It would be nice if this was also possible with `extensible-effects`

[2013-12-05 01:09] #2 closed, assigned to nobody

[2013-12-16 17:22] ibotty opened #3 "at least Exc does not seem to work with ghc 7.4"
hi,

while exploring extensible effects i could not get it to work with ghc 7.4 (the same code works with ghc 7.6). i did not look into other effects so far.

example:

[code]

yields the following error message.

[code]

without the type signature the ambiguity check fails

[code]

[2013-12-16 18:32] ibotty opened #4 "convenience functions (à la errors package)"
i am exploring using extensible effects for errors and became fond of using e.g. `fmapLT :: Monad m => (a -> b) -> EitherT a m r -> EitherT b m r` from `errors` to integrate different exceptions types in application code.

so i was missing a few functions like the following.

[code]

there might also be some function to convert between between `Exc` and `Fail`.

what do you think?

[2013-12-18 08:25] #4 closed, assigned to nobody

[2013-12-21 19:37] #3 closed, assigned to nobody

[2013-12-28 21:31] ibotty opened #6 "rfc: add log effects"
hi,

i will send a pull request, if you deem this approach worthy, so don't feel pushed to implement it yourself as last time :D.

the following is a request for comment on adding a log effect. it is meant to be as extensible as needed to support many different scenarios:
- (pure) logging into `[String]`
- to file/stderr/network
- using existing haskell libraries
- logging different types, e.g. js

[2014-01-06 14:20] #6 closed, assigned to nobody

[2014-01-12 17:04] ibotty opened #7 "lift and bracket pattern"
hi,

i hope it's ok to use the issue tracker for support.

maybe i am missing things, but how can i use `bracket`-like functions within a (lifted-IO) effect?

i'd like a function `bracket :: SetMember Lift (Lift IO) r => Eff r a -> (a -> Eff r b) -> (a -> Eff r c) -> Eff r c`, or more specific `SetMember Lift (Lift IO) r => IO a -> (a -> IO b) -> (a -> IO c) -> Eff r c`, but i could not construct

[2014-04-23 15:04] ibotty opened #10 "does not build with ghc 7.8.2"
at least travis tells me it doesn't. i can't provide details because i don't have ghc 7.8.2 installed locally.

[2014-04-23 19:03] ibotty opened #11 "how to port `SetMember` effects from 1.2 to 1.5"
the following works in 1.2

[code]

but the following mechanical translation to 1.5 is ambiguous

[code]

not giving a type signature does not fix it (even without monomorphism restriction).

[2014-04-25 22:16] #11 closed, assigned to bfops

[2014-05-05 17:40] #10 closed, assigned to bfops

[2014-05-21 15:38] UnkindPartition opened #13 "Please expose Union's constructor"
Please expose Union's constructor (possibly through an `.Internal` module).

I'm writing a handler that can handle many effects, and looking them up in a table is more efficient (and simple) than writing multiple `prj`s.

[2014-05-23 13:04] UnkindPartition opened #14 "strange parameter order for VE"
VE is a free monad, but with type parameters swapped around. Is there a good reason for the swap? It's quite confusing.

[2014-05-24 20:06] #14 closed, assigned to nobody

[2014-06-05 15:13] ibotty opened #15 "loosen dependency on transformers-base"
is there a reason it depends on transformers-base 0.4.1 exactly?

[2014-06-06 08:45] ibotty opened #16 "allow (de)serializing internal Eff r state"
i want to interface with wai and generate a `Middleware :: Request -> IO Response` from a `SetMember Lift (Lift IO) r => Request -> Eff r Response`  action.

i looked into what yesod is doing (which for that discussion reduces to having a an action `Request -> ResourceT IO Response`). yesod gets `ResourceT`'s internal state (aptly named `InternalState` and restores it afterwards using functions (s

[2014-07-07 21:00] rodlogic opened #17 "Does it incorporate the performance improvements described in 'Reflection without Remorse'?"

[2014-11-18 08:57] #15 closed, assigned to suhailshergill

[2014-11-18 14:10] suhailshergill opened #20 "Missing license"
@bfops the `extensible-effects` is missing a license file. If you could specify a license type/content, i can take care of the rest

[2014-11-18 17:01] k0ral opened #21 "Provide OpenUnion2"
Since closed type families are available in latest GHC, could you please provide the [OpenUnion2](http://okmij.org/ftp/Haskell/extensible/OpenUnion2.hs) module in extensible-effects ?
Thank you.

[2014-11-19 02:58] #20 closed, assigned to suhailshergill

[2014-11-27 11:17] #21 closed, assigned to suhailshergill

[2014-11-28 09:11] #13 closed, assigned to suhailshergill

[2014-12-12 06:57] #17 closed, assigned to suhailshergill

[2015-01-08 12:31] k0ral opened #31 "No type inference in some cases"
When using ext-eff, I find I have to add type annotations more than I'd like
For example (with GHC 7.8.4, ext-eff 1.9.0.1):

[code]

It looks to me that the `g1` implementation has all the necessary information for GHC to infer that I'm `ask`ing for an `Int`. Strangely enough, type annoting `ask` doesn't work either.
I'm not sure this is an issue in extensible-effects or if it is inherent to GHC's

[2015-01-15 16:59] suhailshergill commented on #31
@k0ral don't have access to a computer where i can test your code myself, but for ``g2`` shouldn't the type of ``ask`` be different? specifically, the type variable ``r`` shouldn't be the same as in the signature for ``g2``
for ``g1`` one of the issues seems to be that instance selection does not take into account the constraint. instead the instance is selected on the head, and then any free vari

[2015-01-28 11:39] qnikst opened #34 "Trustworthy related warning on ghc-7.10"
If `compat/ghc-7.10` branch is build on ghc 7.10 there are a bunch of warnings:

[code]

This happens because starting from 7.10 ghc checks if module is more safe than it's marked.
The problem here is that there is no obvious simple solution for the case when `Trustworthy` is set in `default-extenstion`, because adding `{-# LANGUAGE Safe #-}` will conflict with `Trustworthy` and there is no `NoTru

[2015-05-06 17:50] suhailshergill opened #38 "fix Typeable dependency"
Integrating http://okmij.org/ftp/Haskell/extensible/OpenUnion4.hs will address this concern

[2015-05-10 16:38] suhailshergill commented on #31
@k0ral the issue regarding the extra type annotations manifests itself in simpler examples as well. eg.
[code]

the above is a tradeoff of extensible-effects. specifically (and as is mentioned at the end of section 4.1 in the paper), the interface which is exposed in this library is one which favours extensibility at the cost of some more type annotations. take into consideration what the type ann

[2015-05-10 16:38] #31 closed

[2015-05-11 04:35] rrnewton opened #46 "GHC 7.10.1 errors in version on hackage"
I'm actually a bit confused that #34 implies that the package does build on ghc 7.10.1 (albeit with warnings).  I see the following error instead:

[code]

And then adding LANGUAGE GADTs to  that module then leaves a whole bunch of other "Could not deduce" errors.

[2015-05-11 09:50] suhailshergill commented on #46
@rrnewton i don't believe adding `LANGUAGE GADTs` is the right thing to add there. i don't have ghc 7.10.1 installed, but could you confirm that you ran the build against the `compat/ghc-7.10` branch?

[2015-05-11 15:38] rrnewton commented on #46
Thanks, I wasn't aware of the branch!  Any reason it's not merged yet?

(Closing this as "already fixed".)

[2015-05-11 18:10] suhailshergill commented on #46
@rrnewton waiting on travis-ci builds to be available. if there's a need, i can do a merge and deploy later today. let me know

[2015-05-11 19:13] fosskers commented on #38
Looking forward to this.

[2015-05-11 19:47] fosskers commented on #46
I was hoping to experiment with this library but am seeing these build errors with 7.10. I'd say there's a need ;)

[2015-05-11 21:09] suhailshergill commented on #38
@fosskers understand that the `OpenUnion4.hs` implementation above comes at a performance penalty.

also, ooc, could you elaborate on your concerns with current `Typeable` dependency?

[2015-05-11 21:42] fosskers commented on #38
Verbose type signatures are my only concern.

[2015-05-12 01:12] suhailshergill commented on #38
@fosskers note that with `ConstraintKinds` enabled you could have an alias for the constraints (partial or otherwise) needed in the signatures. that can help limit the type annotation noise in the interim

[2015-05-12 03:13] suhailshergill commented on #46
@fosskers @rrnewton when #47 gets merged into `master` (plan to tonight), it'll be available on hackage

[2015-05-12 03:22] joneshf commented on #46
:+1:

[2015-05-12 12:41] #34 closed

[2015-05-12 12:54] suhailshergill commented on #46
so i fixed the issues and version 1.9.2.1 is compatible with ghc. sadly i get the following error when i try to upload to hackage:
[code]

this is odd because `-Werror` is being guarded by a flag whose default is False. i'll try again later in the evening to see what the issue is

[2015-05-12 14:47] suhailshergill commented on #46
thanks to @dolio the current problem is a symptom of haskell/cabal#2527. as a workaround, till the issue is resolved, i'll create another minor release (which is patched appropriately) and upload that. reopening the issue to track hackage upload

[2015-05-13 01:15] #46 closed

[2015-05-13 17:49] fosskers commented on #38
Neat, I didn't know about `ConstraintKinds`.

[2015-05-16 08:52] fosskers commented on #31
I'm seeing a similar problem, perhaps you could clarify. Here's the final part of some E-E testing I'm doing:

[code]

`vt` doesn't compile, giving:

[code]

What exactly does this error mean?

[2015-05-16 09:01] fosskers commented on #31
This seems to have fixed it:

[code]

[2015-05-16 13:46] suhailshergill commented on #31
the type of state value can't be inferred because of the open world
assumption that the extensible effects implementation makes. it's this
which allows us to not unnecessarily constrain what other type of effects
may be present as well. specifically, nowhere do you specify that the state
effect is unique and that dilithium is the only type of state being
handled.

On Sat, May 16, 2015, 05:01 Colin

[2015-08-05 20:33] suhailshergill opened #56 "Incorporate updates from recent paper (i.e. use alternate definition of Free w/o Functor constraint)"
- [x] port ideas from http://okmij.org/ftp/Haskell/extensible/more.pdf and http://okmij.org/ftp/Haskell/extensible/Eff1.hs to the library
  - [x] make a decision on whether or not to support the different OpenUnion implementations
    - use [`OpenUnion51.hs`](http://okmij.org/ftp/Haskell/extensible/OpenUnion51.hs) implementation
- [x] add [DelayState ("Lazy")](http://okmij.org/ftp/Haskell/extensib

[2015-08-09 18:39] ekmett commented on #56
Clever.

Lazy state and lazy writer compose, no?

Is there an option for how to make such an explicit Delay/demand based computation model more composable when all of the effect types are demand-drivable?

[2015-11-18 08:33] rvion commented on #56
is there any eta on this ?
Having a fast extensible-effects equivalent to `transformers` or `mtl` with proper community advertising  could really start the adoption.

[2015-11-18 13:10] suhailshergill commented on #56
I'm aiming for end November, but if you'd like to contribute a patch in the
meanwhile I'll be happy to review.
Retaining the new version of open union (which has order n performance
operations) alongside the old is proving to be tricky however, and that's
where most of the complexity is. Are you running into scenarios at present
where the current implementation isn't satisfactory?

On Wed, Nov 18,

[2015-11-18 13:40] suhailshergill commented on #56
@ekmett missed your comment on this previously, my bad. i don't often find myself relying on (or rather i try not to rely on) such delay/demand based computation model, so unfortunately i am out of my depth here. that being said, could you qualify/paint a picture of what you were thinking of/had in mind. i don't believe i fully grasp the scenario you're thinking of.

[2015-11-18 13:43] suhailshergill commented on #38
#56 will fix this

[2015-11-29 19:48] jasonzoladz opened #57 "Please add extensible-effects to Stackage"
`cabal install` is dead.  Long-live `stack install`!

[2016-01-04 23:58] rvion commented on #56
Is the `freer` package superseding the `extensible-effects` package ?
 - ["freer" source on gitlab](https://gitlab.com/cpp.cabrera/freer)
 - ["freer" on hackage](http://hackage.haskell.org/package/freer)
 - ["freer" changelog on hackage](http://hackage.haskell.org/package/freer/changelog)

[2016-01-05 00:41] suhailshergill commented on #56
I think it depends on what you need. Freer currently is the package which
has the improvements from the "freer" paper. My goal with
extensible-effects is to continue to support some of the alternate designs
outlined in the previous papers as well but haven't had enough time to
devote to it due to personal reasons. If you want something which
incorporates the newer ideas and works today, it seems l

[2016-01-05 09:40] rvion commented on #56
thanks for your quick response :)

[2016-01-05 14:52] suhailshergill commented on #56
np :)
ooc, could you elaborate on the capacity to which you're using the ideas of
extensible effects/freer? is it for personal projects? is it from the
perspective of a library user, or more from the perspective of a library
author yourself?

On Tue, Jan 5, 2016 at 4:40 AM, Rémi Vion <notifications@github.com> wrote:

--
Suhail

[2016-01-05 16:04] rvion commented on #56
I'm interested in extensible effects both as a library user and library author, and both for personal and professional projects.

I like the idea of extensible effects because for the simplicity of the concept, the sharability of code blocs, testing facility, the possible variety of interpreters for a same effects, etc. Nothing new here; the raise of extensible effects in idris, purescript, and th

[2016-01-07 15:36] eallik opened #58 "Sample on Hackage broken"
The example at https://hackage.haskell.org/package/extensible-effects-1.11.0.0/docs/Control-Eff.html refers to the non-existent module `Control.Eff.State` and at least the non-existent function `onState`.

[2016-01-08 00:38] suhailshergill commented on #58
@eallik thanks for the report, looking into it

[2016-01-08 12:30] suhailshergill commented on #58
- [ ] fix the code example
- [ ] add [doctest](https://hackage.haskell.org/package/doctest) to prevent such errors in the future

[2016-01-22 08:29] #58 closed

[2016-01-23 16:41] suhailshergill commented on #38
duplicate of #56

[2016-01-23 16:42] #38 closed

[2016-01-23 16:43] suhailshergill commented on #57
@jasonzoladz is hackage also long dead?

[2016-01-24 20:47] fosskers commented on #57
Nah, `stackage` uses Hackage as a backend for special dependencies which aren't available on Stackage (which is how I get EE into my projects currently).

[2016-01-24 20:52] suhailshergill commented on #57
hmm so can this issue be closed, or is there a benefit (for end users) to adding to stackage?

[2016-01-24 21:15] fosskers commented on #57
It makes it easier for developers who use EE in their projects and build with `stack`. Having EE in Stackage would mean less custom configuration.

[2016-01-25 11:22] suhailshergill commented on #57
@fosskers @jasonzoladz could either of you confirm whether or not you're able to access extensible-effects via stackage?
i believe this issue has been resolved

[2016-01-25 16:54] jasonzoladz commented on #57
Not yet.  If you recently submitted this to Stackage, it won't make it in
until the next resolver gets released.  I'll keep an eye out for it in the
next resolver and follow up with you if it's not there.  Thanks!

On Mon, Jan 25, 2016 at 6:22 AM, Suhail Shergill <notifications@github.com>
wrote:

[2016-01-25 16:58] suhailshergill commented on #57
@jasonzoladz awesome. please reopen the issue if it's not there. closing this for now.

[2016-01-25 16:58] #57 closed

[2016-01-30 23:07] ocharles commented on #56
The example given doesn't seem to demonstrate any composability. That is, you explicitly choose the effect stack to *just* be state. Is it possible to extend this approach to any arbitrary stack of effects?

[2016-02-01 15:14] suhailshergill commented on #56
@ocharles i believe it's possible to have consistent composable semantics between say lazy writer and state (though the above example doesn't demonstrate it). it's not clear to me what the semantics you'd want to ascribe to them.
could you illustrate with an example what you're attempting to accomplish?

[2016-02-01 16:17] ocharles commented on #56
I'm afraid I have no example, I'm not trying to do anything (I don't use `extensible-effects`) - I'm just interested in this area.

[2016-02-01 16:26] suhailshergill commented on #56
@ocharles understood. in that case the excerpt below (from my discussion with oleg) following up from edward's motivating example might be of interest to you:

[code]

[2016-02-01 16:33] ocharles commented on #56
Very interesting, thank you!

[2016-02-24 00:18] AndrewRademacher opened #62 "`SetMember Lift (Lift IO) r` doesn't seem to be sufficient to line up the function context for lift."
I'm currently isolating IO parts of my software into Eff. In the process I've encountered to seemingly (to me) identical usages and only in one can the function's context be aligned. I've attempted many variants, including a "Getter" effect that just reads lines off the console which also fails. I've tried the Logger effect as a `data Logger n = Logger String n deriving (Tapeable, Functor)` I've t

[2016-02-24 05:23] suhailshergill commented on #62
@AndrewRademacher for the working example could you please provide a self-contained gist/example (including dependencies and language extensions)?
similarly, for the failing example.

once i've got the self-contained  positive and negative examples i would be able to dig in. off the top of my head, i'm not sure what the problem is (i've got a few guesses, but it would be faster to test them agains

[2016-02-24 16:22] AndrewRademacher commented on #62
@suhailshergill, absolutely, I've actually already got the project in a git repo. Available at https://github.com/AndrewRademacher/test-eff.

The working Hasql example is at https://github.com/AndrewRademacher/test-eff/blob/master/src/HasqlExample.hs.

The failing console logging example is at https://github.com/AndrewRademacher/test-eff/blob/master/src/ConsoleExample.hs.

The project is stack-fri

[2016-02-26 11:28] suhailshergill commented on #62
@AndrewRademacher thanks for that. this week has been quite busy, but I will look into this over the weekend.

[2016-02-27 21:57] suhailshergill commented on #62
@AndrewRademacher see AndrewRademacher/test-eff#1
merging that in should close this issue as well.

[2016-02-28 00:53] #62 closed

[2016-03-03 14:21] suhailshergill commented on #56
an update for those subscribed to this issue.
i've been able to port most of the effects (including coroutines) to the new implementation of Eff1. in addition, i have also settled on an open-union implementation which works across ghc compiler versions (the implementation internally uses `unsafeCoerce` and so i will need to add some tests for it). this is all very good news, because those were two

[2016-03-04 11:07] eskimor commented on #56
Yeah! :-) I am currently using the freer package for my work and I like it. Looking forward to replacing it with extensible-effects!

[2016-03-04 16:55] fosskers commented on #56
I use `extensible-effects` in many of my projects and am always looking forward to improvements.

[2016-03-30 07:03] suhailshergill commented on #56
a teaser of what `Reader` effect will look like in the new version: https://github.com/suhailshergill/extensible-effects/blob/sss/freer/src/Control/Eff/Reader/Strict1.hs note the lack of `Typeable` constraint :)

[2016-05-26 13:42] snoyberg opened #64 "Build failure with GHC 8"
[code]

[2016-05-27 02:17] #64 closed

[2017-06-04 13:51] SkorikGG opened #66 "MonadError, MonadThrow, MonadCatch, MonadMask instances for module Exception"
I suggest adding implementation of the `MonadError`, `MonadThrow`, `MonadCatch`, `MonadMask` instances in the module `Control.Eff.Exception`. This will allow you to use the functions of the such modules as `Control.Monad.Catch`, for exampe `bracket`.
[code]
It can also be useful
[code]
for making single exit point for exceptions.

[2017-06-04 13:54] SkorikGG opened #67 "Alternative and MonadPlus instances in the module Choose"
for using `guard`.
[code]

[2017-06-19 23:54] suhailshergill commented on #67
@SkorikGG apologies for the delay, i've been bouncing from one conference to the next.
Do you have patches to submit that i can review?

[2017-06-19 23:56] suhailshergill commented on #66
@SkorikGG could you submit a PR?

[2017-11-19 04:47] #56 closed

[2017-11-19 08:40] suhailshergill commented on #67
this is partially resolved by #71
`NdetEff` now has the desired `Alternative` and `MonadPlus` instances.

To add the desired instances in `Choose` requires refactoring the tests.

[2017-11-20 03:14] suhailshergill commented on #7
related:
- http://okmij.org/ftp/Haskell/misc.html#catch-MonadIO
-- http://okmij.org/ftp/Haskell/extensible/EffDynCatch.hs

[2017-11-23 01:38] suhailshergill opened #75 "enable Alternative and MonadPlus instances for Choose in ghc-7.8"
related commit: d1c9937
#74 shows the failures on travis that this fixed. still unclear why this happened.

[2017-11-23 01:45] #67 closed

[2017-11-23 02:15] suhailshergill commented on #7
@ibotty does the recent addition of `catchDynE` let you do what you'd originally wanted here? see 60850d for relevant usage examples

[2017-11-23 02:17] suhailshergill commented on #75
related: #67

[2017-11-23 02:34] suhailshergill commented on #66
@SkorikGG do you have an example of the kind of code you'd be able to write, which the above enables? Specifically, do you have a `bracket` example (with expected results), using the above instances? that would help me sanity-check the implementation.

[2017-11-23 03:14] suhailshergill commented on #66
relates to #7

[2017-12-26 19:36] suhailshergill opened #77 "Remove usage of deprecated OverlappingInstances"
Using [`OpenUnion52.hs`](http://okmij.org/ftp/Haskell/extensible/OpenUnion52.hs) results in the following build error with `make test`

- [x] [`Test/NdetEff`](https://github.com/suhailshergill/extensible-effects/blob/master/test/Control/Eff/NdetEff/Test.hs)
[code]

ignoring the above and continuing with the make recipe results in another compilation error further along
- [x] [`Test/Operational`](h

[2017-12-26 20:56] #7 closed

[2017-12-26 21:20] suhailshergill commented on #66
@SkorikGG i was trying out the code snippet you shared, you were using `UndecidableInstances` above correct?
could you also share a snippet which made use of the instances above? thanks!

[2017-12-28 14:23] ibotty commented on #7
Sorry, I missed the comment. Yes, that captures (pun intended) my intentions.

[2017-12-29 10:03] Lysxia commented on #77
For `NdetEff.Test`, `tsplitr20` and `tsplitr21` get inferred the type `forall w. [(Integer, [w])]`. In particular, instance resolution does not unify `w` with `String`.

Here's where the error message comes from. The constraint `FindElem (Writer String) '[Writer w, NdetEff]` in the type of `tsplit` doesn't see an equality `w ~ String`, so there is only one candidate instance `FindElem t r => FindE

[2017-12-30 17:38] Lysxia commented on #77
The rest of the errors seem to be of the same kind. To summarize, the following changes make all tests compile and pass:

- remove `INCOHERENT` from `instance FindElem t (t ': r)`;
- add `OVERLAPPABLE` to `instance (p ~ 'False) => EQU a b p`.

But I don't think that solves the underlying problem, which is that it is not possible to infer the effects that are handled, e.g., inferring `w` in `Writer

[2017-12-30 19:54] suhailshergill commented on #77
@Lysxia thanks for looking into this.
I'm on my cell right now, so apologize for the brevity but your point regarding effect inference is well made. It is a consequence of the open world assumption that `Eff` makes. I think your recommendation of making calls monomorphic (wherever applicable/possible) is worth sharing with the users as a possible pattern (and in some cases will be necessary).

[2017-12-31 03:41] #77 closed

[2018-01-02 12:07] suhailshergill commented on #77
@Lysxia fyi you might be interested in 9803959 and 6c1349e (part of #80 )

[2018-01-29 20:32] greydot opened #82 "MonadBase and MonadBaseControl instances"
These instances would be useful but they are missing. I checked the log and found that MonadBase instance was removed not so long ago (https://github.com/suhailshergill/extensible-effects/commit/a6d3dc78366e4d2ea137f7c36b745dad9fa2adb7) without any explanation.

Would a PR reintroducing MonadBase and adding MonadBaseControl instance be welcome?

[2018-01-30 00:57] suhailshergill commented on #82
@greydot I am on my cell (at the hospital) so excuse the brevity.

The commit in question was part of the recent migration to the "freer" implementation. The instance deletion is a regression.

A PR from master introducing MonadBase and MonadBaseControl would be entirely welcome (perhaps with the addition of tests which use/rely on those instances to prevent a similar regression in the future).

S

[2018-01-30 14:32] greydot commented on #82
Of course, but while MonadBase is a nobrainer, MonadBaseControl instance could be tricky and I don't have to code at hand atm.

[2018-01-31 00:39] suhailshergill commented on #82
We can split it into 2 PRs if that helps

[2018-02-04 13:28] greydot commented on #82
Just an FYI, these instances cannot be implemented for some effects. In case of Trace, there's no way to embed an IO action at the moment, unless I'm missing something. Given it's nature, maybe it should be reimplemented in terms of Writer and Lift? What do you think?

[2018-02-10 01:43] suhailshergill commented on #82
@greydot it depends on what you mean by "embed". converting trace would certainly be one way, but there's also another way that we can combine IO actions. take a look at how we combine the error effect (in `Control.Eff.Exception`) with IO in https://github.com/suhailshergill/extensible-effects/blob/master/test/Control/Eff/Lift/Test.hs#L95 via `catchDynE`

[2018-02-12 19:23] greydot commented on #82
@suhailshergill I mean, it's not possible to call lift from trace, because runTrace requires Trace to be a terminal effect. In addition, Trace isn't parametrized by a monad, runTrace has IO hardcoded in its type.

See here: https://github.com/suhailshergill/extensible-effects/blob/master/src/Control/Eff/Trace.hs

[2018-02-16 01:48] suhailshergill commented on #82
@greydot oh i see; yes you are correct - `Trace` will need to be tweaked

[2018-03-06 18:41] greydot commented on #82
In addition to Trace, MonadBaseControl instances seem to be impossible for Coroutine and Operational effects.

[2018-03-06 18:46] greydot commented on #82
Instances for other effects are in this branch https://github.com/greydot/extensible-effects/tree/monadbasecontrol. Should I make a PR?

[2018-03-06 19:01] suhailshergill commented on #82
Yes please do!
I can then review

On Tue, Mar 6, 2018, 13:46 Lana Black <notifications@github.com> wrote:

--

Suhail

[2018-03-27 01:55] suhailshergill commented on #82
resolves #16

[2018-03-29 01:51] suhailshergill commented on #82
resolved by #83

[2018-03-29 01:51] #82 closed

[2018-03-29 01:52] suhailshergill commented on #16
fixed by #83

[2018-03-29 01:52] #16 closed

[2018-03-30 08:44] JustusAdam opened #84 "Add explicit implementation for `*>` to be compatible with new `forever`"
The following code is a simple stacking of `State Int` and `Lift IO`. This is a simplification of very common pattern in applications with an event loop.

[code]

The problem with this code is that actually, if you run it, nothing happens.

The expected semantics would be that it starts printing out intermediate results endlessly, which it does not do. BTW the same behaviour is also observable whe

[2018-03-30 11:40] Lysxia commented on #84
This seems to be fixed in the latest version; the relevant commit is cf4cecc.

[2018-03-31 15:53] JustusAdam commented on #84
Oh intersting. I assumed I was using a new-enough version. Nice to see it being fixed.

[2018-03-31 15:53] #84 closed

[2018-04-03 18:48] greydot opened #87 "-Werror"
Numerous modules in extensible-effects have -Werror enabled unconditionally. Given that there is a cabal flag for that now, maybe the pragmas in those modules should be removed?

This change will make life a bit easier when using development tools like Intero.

[2018-04-03 19:04] suhailshergill commented on #87
@greydot good catch. Agreed.
I'm traveling, but if you submit PR I can review

[2018-04-03 19:11] greydot commented on #87
https://github.com/suhailshergill/extensible-effects/pull/88

[2018-04-06 00:55] #87 closed

[2018-04-17 20:08] power-fungus opened #94 "Argument ordering of run* functions"
I know MTL and others have it similar, but I do not understand the argument orderung of the run* functions.

Assume I have an effectful computation I want to run. `computation :: (Member (State a) e, Member (Reader b) e) => Eff e ())`, similarly construcs are possible.

This is done using `run $ execState (runReader computation context) initialState`, however I perfer to write it as `run . flip ex

[2018-04-17 23:33] fosskers commented on #94
I believe [freer-simple](https://hackage.haskell.org/package/freer-simple) notices this problem and has fixed it there. I'd encourage something similar here - the weird flipped `State` thing is deeply annoying.

[2018-04-18 02:29] suhailshergill commented on #94
The ordering here in the library is contrary to what Oleg proposed in the
"freer" paper (which freer-simple followed) and was done solely for
interface compatibility with MTL etc.

Is there any interest in maintaining said compatibility (perhaps as
alternative run* functions)?

On Tue, Apr 17, 2018, 19:33 Colin Woodbury <notifications@github.com> wrote:

--

Suhail

[2018-04-18 03:59] fosskers commented on #94
If typical applications only do effect unwrapping in one place (in `main`), then it's not that big of a deal to ask current users to switch their arguments around. (i.e., I don't think you need alternative `run*` functions. That's what `flip` is for.)

[2018-04-18 04:04] suhailshergill commented on #94
Fair point.
@power-fungus @fosskers would you like to submit a patch and open a PR against `develop`?

[2018-04-18 17:26] power-fungus commented on #94
I will do a PR.
I am not sure about changing of signatures, but if it is given a new major version, its probably ok

[2018-04-18 18:37] power-fungus commented on #94
Fun fact: implementation of `execState` uses `flip` :stuck_out_tongue:
[code]
and turns into
[code]

[2018-04-18 19:53] suhailshergill commented on #94
Yep.
For versioning let's respect semantic versioning. Thanks!

On Wed, Apr 18, 2018, 14:37 power-fungus <notifications@github.com> wrote:

--

Suhail

[2018-04-20 04:35] suhailshergill opened #96 "adapt build and CI steps to use stack"
based on @power-fungus 's suggestion in #95

[2018-04-20 04:37] suhailshergill commented on #96
@power-fungus FYI

[2018-04-20 04:57] #94 closed

[2018-04-20 05:10] suhailshergill opened #98 "improve performance for `ndet` and `state` effects"
see [benchmark report](https://rawgit.com/suhailshergill/extensible-effects/master/benchmark/benchmarks.html) for specifics

[2018-04-20 10:41] power-fungus opened #99 "Documentaiton: Detailed Introduction to all Effects"
As I can see, there is no documentation that presents the effects implemented in this package in Detail and presents usages. Sure, there is an Example module but I did not learn anything from that.

Currently, learning extensible-effects is only possible if one already understands MTL. The goal is to make this package more approachable.

I would like to add:
* more comprehensive package descriptio

[2018-04-20 11:28] suhailshergill commented on #99
@power-fungus first off, i love love love the idea and fully support it :grinning:
second, it might be useful for you to go through http://okmij.org/ftp/Computation/having-effect.html (and perhaps incorporate some of that in your guide).
third, this will be a bit of work, and in order to get it right, it will require multiple review cycles. here is my proposal: open a PR almost immediately with so

[2018-04-20 11:30] suhailshergill commented on #99
oh and regarding the effects like `Cut`, `Coroutine` and `Operational`. Let's get to them bit by bit. The paper describes some (for `Cut` and `Coroutine`) and `Operational` is described in `operational` package

[2018-04-20 21:36] power-fungus commented on #99
I am in favor of a tight review cycle and will try to start soon. The descrption of the more "standard" effects will be first.

[2018-04-21 21:55] power-fungus commented on #99
I want to start the documentation with the selling points of extensible-effects. Obviously, "read this paper and read that paper" is not a good introduction to any library although in widespread use (anyone coming to the library wants to use it, not have an idea how and why it is implemented).

For that, I want to list and describe the main selling points. I have some listed by myself but this nee

[2018-04-22 02:49] suhailshergill commented on #99
@power-fungus let's review the ones you have in a PR. it will be easier to add to that list

[2018-05-02 01:39] #75 closed

[2018-05-02 18:31] power-fungus opened #106 "Spurious ci-test-error with trace"
As I understand, The test for `Trace` fails sometimes in different configurations on travis-ci.

See:
* https://travis-ci.org/suhailshergill/extensible-effects/builds/374066261
* https://travis-ci.org/suhailshergill/extensible-effects/builds/374068667

[2018-05-02 22:59] suhailshergill commented on #106
@power-fungus yes. the issue is how we test expectations for `Trace` in [its test-suite](https://github.com/suhailshergill/extensible-effects/blob/master/test/Control/Eff/Trace/Test.hs). specifically, via [capturing `stdout`](https://github.com/suhailshergill/extensible-effects/blob/master/test/Utils.hs#L14).

[2018-05-03 15:26] power-fungus commented on #106
For some reason, I feel quite strongly about `Trace´. The effect-algebra is strictly weaker than `Writer´, for no particular benefit.

What I would like:
* Add writer functions along the lines (whatever makes most sense, I will tinker with it)
[code]
* deprecate the `Trace` effect and schedule it for removal in a further release. Note that then, `runTrace` is roughly equivalent to `execMonadWriter

[2018-05-03 23:35] suhailshergill commented on #106
@power-fungus let's leave the purity of the test aside for a moment. for something like tracing and logging, i do want to check that which was logged (as opposed to that which was intended to be logged). given that, i do agree the testing can still be improved, but it's a relatively minor issue for now (albeit, patches are always welcome).

regarding reformulating `Trace` in terms of `Writer`, wha

[2018-05-03 23:53] suhailshergill commented on #106
btw, happy to discuss this on gitter (https://gitter.im/suhailshergill/extensible-effects)

[2018-05-04 04:28] power-fungus commented on #106
I agree that this is a minor issue and although I have a standpoint, it is not too important.

Advantages:
* Conceptually, trace is a writer. When I fist learned the effects, I did not
* Using trace in a library would be bad practice anyway as the user of the library has to accept that output is getting cluttered (a possible fix would be to write a runner that ignores the trace)

[2018-05-04 04:38] power-fungus commented on #106
see [my commit](https://github.com/power-fungus/extensible-effects/commit/c4131e72cc567a071d3f921da52fe43ad8e9427f) for a quick-and-dirty implementation.

[2018-05-07 04:31] power-fungus commented on #106
Closing this issue for now. #108 does *some* workaround, and maybe helps.

[2018-05-07 04:31] #106 closed

[2018-05-07 04:34] power-fungus commented on #98
moved: [benchmark report](https://suhailshergill.github.io/extensible-effects/)

[2018-05-30 01:15] suhailshergill commented on #99
@power-fungus let me know which effects you'd like to tackle next and/or if there are some effects you'd like to go over/discuss.

[2018-05-30 05:42] power-fungus commented on #99
I am currently working on the `QuickStart` module. However, I ab quite busy the last weeks.

[2018-06-12 23:54] suhailshergill commented on #66
@power-fungus @greydot ooc, what are your thoughts on above. as users of the library, do you see much utility in this?
since i've not heard from @SkorikGG , if there isn't value, i'm inclined to close this issue.

[2018-06-13 03:37] power-fungus commented on #66
@suhailshergill I am not a heavy user of async exceptions, so I have no expert knowledge on this topic. I would suggest to close this issue and postpone this discussion to when the use of extensible effects is more clear.

Personally, I am in favor of implementing type-classes like these so that libraries can be used out-of-the-box (like MonadIO). I am aware that this adds more package dependencie

[2018-06-13 06:31] greydot commented on #66
@suhailshergill I'm not sure this is terribly useful, given that it would require converting back and forth between SomeException and actual exception types. My needs are more or less covered by 'catchDynE' from Control.Eff.Lift here.

There are some scenarios where MonadCatch and MonadThrow would come in handy (e.g. writing servant api handlers), but not with a hardcoded exception type.

[2018-06-13 22:34] suhailshergill commented on #66
@power-fungus i'm not that concerned about package dependencies.
love the idea of making `lens` plug and play! happy for it to be done as part of this, or as part of an independent package.

my concern in this case is one echoed by @greydot : the limited utility of having a hardcoded exceptions.

i'll close this issue for now. happy to reopen and consider a design which addresses a concrete exampl

[2018-06-13 22:34] #66 closed

[2018-06-27 02:35] suhailshergill commented on #99
`work in progress` items in `README.md`:

- [ ] [Other effects](https://github.com/suhailshergill/extensible-effects#other-effects)
- [ ] [Integration with Monad Transformers](https://github.com/suhailshergill/extensible-effects#integration-with-monad-transformers)
- [ ] [Writing your own Effects and Handlers](https://github.com/suhailshergill/extensible-effects#writing-your-own-effects-and-handle

[2018-10-02 19:45] greydot opened #122 "RFC: Version semantics"
How are version numbers assigned in this library? Is this a kind of semantic versioning? If so, then why four numbers and not three?

[2018-10-02 21:48] suhailshergill commented on #122
Semantic versioning using cabal defaults I believe. The cabal file
clarifies.

--
Suhail

On Tue, Oct 2, 2018, 15:45 Lana Black, <notifications@github.com> wrote:

[2018-10-07 16:07] suhailshergill commented on #122
https://github.com/suhailshergill/extensible-effects/blob/develop/extensible-effects.cabal#L6

[2018-10-07 16:07] #122 closed

[2018-12-10 18:00] suhailshergill opened #126 "Decide on: support GHC 8.0 vs use pattern synonyms in implementations"
#125 (specifically commit 4170021 ) highlights the trade-off. Pattern synonyms help reduce the syntactic noise to a minimum, making it easier to understand the semantics. However, in this case the syntactic noise isn't too much to begin with and arguably 8.0.2 wasn't that far long ago (Jan 2017).

I would like to hear from the community before deciding. Paging: @sheyll , @mattaudesse , @shineli198

[2018-12-10 18:03] greydot commented on #126
A number of libraries support the latest three ghc releases. I tend to agree with that practice.

That being said, ghc has a new release cycle now with less time between releases.

How about we support the compiler for a limited amount of time? Say, two years should be enough. With that regard, it makes sense to drop ghc 8.0 support in this case.

[2018-12-10 19:05] mattaudesse commented on #126
A rolling two-year `ghc` version support window like @greydot suggests sounds reasonable to me but I don't really have a strong opinion.

[2018-12-11 00:40] sheyll commented on #126
Thanks for asking; my 2 cents: as long as the user base has not grown past a certain point, I would value library evolution/exploration over compiler compatibility. And since you asked, I would prefer using pattern synonyms to reduce syntactic noise over GHC 8.0.2 compatibility.

[2018-12-11 20:00] suhailshergill commented on #126
it is, however, the completeness checks weren't adequately implemented yet.

[2018-12-15 17:43] suhailshergill commented on #126
thanks, will focus more on cleaner implementation via `PatternSynonyms` and drop support of 8.0.2 in the next few weeks.
have also been investigating #98 to better understand what affects the performance in these effects. I expect to roll some changes relating to these (making it harder for the user to accidentally shoot themselves in the foot wrt performance).
happy holidays!

[2018-12-15 17:43] #126 closed

[2018-12-16 03:12] sheyll commented on #126
Sounds great, happy holidays to you, too, and happy hacking :)

[2019-01-04 00:15] hvr opened #130 "Undeclared `TypeApplications` extension"
This caused failures for GHCs lacking this extension:

[code]

I've already fixed up the metadata for the affected releases (i.e. there's no need to upload a costly release to Hackage -- it's already fixed on Hackage):

- https://hackage.haskell.org/package/extensible-effects-5.0.0.1/revisions
- https://hackage.haskell.org/package/extensible-effects-5.0.0.0/revisions
- https://hackage.haskell.org/

[2019-01-04 00:35] #130 closed

[2019-01-04 00:35] suhailshergill commented on #130
@hvr thanks! appreciate the help :)

[2019-02-09 15:29] suhailshergill opened #131 "call for maintainer"
Hello all, over the next few months I might not be in a position to be an active maintainer (due to personal reasons). I would like to ensure that in the meanwhile there is minimal effect on the library. Specifically, bug-fixes and updates get pushed in a timely manner.

Could someone volunteer to be an additional maintainer? Shout out to @greydot @mattaudesse @sheyll, @power-fungus

Thanks

[2019-02-09 15:31] suhailshergill commented on #99
Will try and devote some time to this in the next couple of weeks.

[2019-02-09 15:47] greydot commented on #131
Sure, I could try.

[2019-02-10 02:06] suhailshergill commented on #131
Thanks @greydot !

[2019-02-10 02:12] suhailshergill commented on #131
@greydot I've invited you to have push access to the repo. Would you like to test that with a commit to add yourself to the maintainer list in the cabal file? Once we've confirmed that github permissions are working ok, we can then sort the hackage permissions.

[2019-02-10 06:56] sheyll commented on #131
I am also available :)

[2019-02-10 14:48] suhailshergill commented on #131
@sheyll thanks! I'm not very knowledgeable of github's options. Would it make things easier to transition to an organization/team setup? Do you have thoughts?

[2019-02-11 03:16] sheyll commented on #131
I have just read in the github help about the two obvious options:

1. inviting collaborators to a project
2. managing access via "Organizations".

The former option is a quick and easy way to invite someone to a single repository.

The later would allow adding repositories for a group of maintainers without re-inviting every single maintainer for every single repository.

"Organizations" seem to

[2019-02-11 16:11] greydot commented on #131
I wasn't able to push to this repo.

[code]

UPD: disregard this, all sorted out.

[2019-02-11 23:26] suhailshergill commented on #131
that is an interesting point and one i have considered in the past. specifically, the polymorphic variants (i.e., `OpenUnion`) could potentially be a standalone library. but so far there hasn't been a compelling need to split them up.

if i'm understanding the organization roles (thanks for sharing the link btw), another feature that organizations seem to provide is that of an `admin` role. i beli

[2019-02-12 10:01] sheyll commented on #131
I believe that only owners can add or remove members, the admin role is for repo administration like, archiving and renaming.

[2019-02-13 19:12] suhailshergill commented on #131
not quite. per the [link you shared](https://help.github.com/articles/repository-permission-levels-for-an-organization/), the below is one of the abilities that `admin` roles have:

similarly

[2019-02-14 01:14] sheyll commented on #131
Thanks for clarifying.

[2019-02-17 08:59] greydot opened #132 "RFC: Handle class"
It would be nice to read on the motivation behind this class, as well as have a manual on how to implement effects with it. Right now the latter part is not entirely obvious.

[2019-02-18 23:05] suhailshergill commented on #132
@greydot thanks for creating this. i'll take a stab at elaborating the main idea and fleshing out the documentation. i would welcome your review and feedback and hope to get the documentation fleshed out to the point where you are satisfied with the explanation.

[2019-02-19 03:27] suhailshergill commented on #132
@greydot let me know your thoughts on 79d99e9

[2019-02-19 14:53] suhailshergill commented on #131
for convenience i've decided to stick with adding collaborators (creating an organization seems a tad overkill at present). @greydot , @sheyll would you like to add your names to the maintainers list in cabal file?
btw, do you have an accounts on hackage already?

[2019-02-19 19:01] sheyll commented on #131
First of all, thank you.

I do have a hackage account: [SvenHeyll](http://hackage.haskell.org/user/SvenHeyll)

[2019-02-21 14:32] greydot commented on #132
@suhailshergill this explains what and how. Could you also add why? I think it was mentioned somewhere that this approach gives performance benefits against the old-style handlers, but it would be nice to have this in docs.

[2019-02-21 14:34] greydot commented on #131
@suhailshergill [sickmind](http://hackage.haskell.org/user/sickmind)

[2019-02-21 14:44] suhailshergill commented on #132
Ah, good catch! The "why" is slightly subtler. Shallow handlers are more
flexible/expressive and as such allow us to describe more performant
handlers (which previously required us to manually pattern match on the Eff
data type).
I'll clarify and elaborate on this.

--
Suhail

On Thu, 21 Feb 2019, 09:32 Lana Black <notifications@github.com wrote:

[2019-02-22 16:18] suhailshergill commented on #132
I thought some more about this and I think I can articulate better now what
I meant (current docs aren't quite right). Will push some further
documentation today.
Thank you once again for pushing me for this.

--
Suhail

On Thu, 21 Feb 2019, 09:43 Suhail Shergill <suhailshergill@gmail.com wrote:

[2019-02-23 05:22] suhailshergill commented on #132
@greydot please have a look and let me know your thoughts

[2019-02-24 15:53] greydot commented on #132
@suhailshergill splendid! Thanks. I think I'll start working on the part of the readme about writing new effects some time soon. From what I've been told, this is one of the confusing parts.

[2019-02-25 16:57] #132 closed, assigned to suhailshergill

[2019-02-25 20:19] suhailshergill commented on #131
@sheyll @greydot i've added your names to hackage maintainer list: https://hackage.haskell.org/package/extensible-effects/maintainers/
is there anything else that we need to cover that i've missed?

[2019-02-25 20:20] suhailshergill commented on #132
@greydot perfect, i've assigned #99 to you. thanks!

[2019-02-25 20:26] suhailshergill commented on #98
so, we tried using data families for `Union`, but didn't see a speedup.
- http://okmij.org/ftp/Haskell/extensible/Eff3.hs
- http://okmij.org/ftp/Haskell/extensible/OpenUnion53.hs

perhaps if we also were able to convert `Eff` into a data family we may see results? unclear at present.

[2019-03-02 03:26] suhailshergill commented on #99
@greydot i took some time to outline the current steps (4d834cc) when implementing a custom effect. this might help you with documentation. please tweak as desired (consider this merely a first draft). let me know in case there are any questions.

[2019-03-11 23:58] greydot commented on #99
@suhailshergill why a new effect for this tutorial, btw? I think Fresh is written specifically for that. If not, maybe it sould be removed? I don't think anyone would use it given there is State.

[2019-03-12 01:20] suhailshergill commented on #99
You're correct; good catch! No reason other than my forgetfulness.
Would you like to make the tweaks, or prefer of I do instead?

--
Suhail

On Mon, 11 Mar 2019, 19:58 Lana Black, <notifications@github.com> wrote:

[2019-03-12 09:17] greydot commented on #99
@suhailshergill I'll do that since I'm already working on it. I'm going to expand your example first, then we'll deal with Fresh.

[2019-04-22 23:33] suhailshergill commented on #99
@greydot let me know if i can be of any assistance in either resolving this issue or the impending release on hackage.

[2019-04-24 00:00] greydot commented on #99
@suhailshergill again, sorry for the delay. I'm overwhelmed with work here.

I decided to move the tutorial to a separate repo because of extra deps. Extensible-effects has no business depending on containers, for one, but Map is really useful in a demo.

The repo is [here](https://github.com/greydot/tutorial-effect). I promise I will take a vacation and finish the tutorial some time soon.

Meanwh

[2019-04-25 01:32] suhailshergill commented on #99
@greydot i am a fan of keeping dependencies small however i do also think it important for tutorials to be closely tied to the associated codebase.
we could have the tutorial be a separate module and part of an independent build target as a compromise perhaps?

on a related note, the current tutorial doesn't have a containers dependency (however the one you linked does). could you elaborate on the

[2019-05-01 11:01] greydot commented on #99
@suhailshergill good point. I'll move the code into the main repo.

I would like to make the tutorial cover the real-life use cases. That's why all the fuzz.

[2019-12-29 21:27] greydot commented on #98
There is now fused-effects package, which seems to be quite performant too. I will probably benchmark it against extensible-effects some time later.

[2020-01-07 10:21] greydot opened #134 "Chain multiple 'runError' calls into a single one."
Just describing an idea I want to work on.

It would be call if instead of multiple chains of 'runError' handlers we also provide a handler that handles all exception in the list and then returns something like `Result errs a` where `errs` is a type-level list, and the whole `Result` is similar to `Either` except it has a polymorphic variant on the left.